header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  color: var(--branca);
  background: linear-gradient(898deg, var(--laranja), var(--amarela));
}

.logo img {
  height: 55px;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.title img {
  height: 30px;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user button {
  background: none;
  border: none;
  cursor: pointer;
  width: 35px;
  padding: 0;
}

.user img {
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.423);
  height: 35px;
  transition: 0.3s;
}

.userName {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}