main {
  width: 90%;
  margin: 0 auto;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

main::-webkit-scrollbar {
  display: none;
}

.btServico {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0 20px;
}

.service-btn {
  background: var(--laranja);
  color: var(--branca);
  border: none;
  border-radius: 50%;
  box-shadow: 1px 1px 10px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  opacity: 90%;
}

.service-btn span {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.852);
  font-weight: 900;
}

.service-btn img {
  border-radius: 50%;
  height: 70px;
  width: 90px;
}

button {
  -webkit-tap-highlight-color: transparent;
}

button:focus {
  outline: none;
}